<li class="list-group-item">
  <div>
    <label class="titolo lead mb-2">{{ beer.beerName }}</label>
    &nbsp;
    <button (click)="cliccato.emit(beer)"> Dettaglio </button>

  </div>
  <br />
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Style</th>
          <th scope="col">UPC</th>
          <th scope="col">Price</th>
          <th scope="col">Last Modified</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active">
          <td>{{ beer.beerStyle }}</td>
          <td>{{ beer.upc }}</td>
          <td>{{ beer.price | currency:'USD'}}</td>
          <td>{{ beer.lastModifiedDate | date }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-danger btn-sm" (click)="OnDelete(beer)" > Delete! </button>
  </div>
</li>

